<%-include("header.ejs") -%>

<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nulla a! Vel, esse repellendus labore obcaecati inventore atque officiis rerum soluta. Dolorem quos eum provident exercitationem, iure laboriosam recusandae tempore.</p>

<%-include("footer.ejs") -%>